
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* vertical */
}
p{
  text-align: center;
}
input{
  width:300px;
}
#pageTitle{
  margin: 10px;
}
#description{
  margin: 10px;
}
#addBtn{
  margin: 10px;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  border:darkmagenta 5px solid;
}
#creatorLabel{
  font-size: 30px;
}
#creatorCloseBtn{
  position:absolute;
  top:0px;
  right:0px;
}
#bookCreator{
  position: absolute;
  background-color: blanchedalmond;
  top: 280px;
  display:none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border:darkmagenta 5px solid;
  border-radius: 10px;
  padding:5px;
  width: 500px;
}
#bookEditor{
  position: absolute;
  background-color: blanchedalmond;
  top: 300px;
  display:none;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  border:darkmagenta 5px solid;
  border-radius: 10px;
  padding:5px;
  width: 500px;
}
#editorTitle{
  font-size: 30px;
}
#editorCloseBtn{
  position:absolute;
  top:0px;
  right:0px;
}
#editorLabel{
  font-size: large;
}

#submitNewBtn{
  width:200px;
  height: 40px;
}
#table{
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* vertical */
  height: 100%;

}
.headingsRow{
  background-color:aqua;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; /* vertical */
  border: blue 1px solid;
  margin: 10px;
  padding: 5px;
  /* border-radius: 5px;; */
}
.headings{
  width: 180px;
  height: 25px;
  display:flex;
  align-items: center;
  justify-content: center; /* vertical */
}
.book{
  background-color:chartreuse;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; /* vertical */
  border: blue 1px solid;
  margin: 10px;
  height: 100%;
  padding: 2px;
  border-radius: 5px;;
}
.attribute{
  width: 180px;
  height: 100%;
  display:flex;
  align-items: center;
  justify-content: center; /* vertical */
  overflow: visible;
}
.bookEntryBtns{
  width: 180px;
  height: 100%;
  display:flex;
  align-items: center;
  justify-content: center; /* vertical */
  background-color:cyan;
  border-radius: 5px;
}
#reset{
  bottom: 0px;
}
#credits{
  margin: 450px 0 30px 0;
  text-align: center;
  font-family: 'Courgette', cursive;
}
#indexOption{
  font-size: 35px;
}