
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* vertical */
}
input{
  width:300px;
}

button{
  background-color:darkmagenta;
  color: white;
  border-radius: 25%;
  border-width: 5px;
  cursor: pointer;
}

#navDiv{
  display:flex;
  gap: 100px;
  /* border: 1px black solid; */
}

#navLink{
  color: white;
}
#pageTitle{
  margin: 30px 10px 10px 10px;
}
#description{
  margin: 10px;
  width: 750px;
  text-align: center;
  /* border: 1px black solid; */

}
#addBtn{
  font-size: 25px;
  margin: 10px;
  height: 80px;
  width: 150px;
  border-radius: 25%;
  border-width: 5px;
}
#creatorLabel{
  font-size: 30px;
}
#creatorCloseBtn{
  position:absolute;
  top:0px;
  right:0px;
}
#bookCreator{
  position: absolute;
  top: 150px;
  background-color: blanchedalmond;
  display:none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border:darkmagenta 5px solid;
  border-radius: 10px;
  padding:5px;
  width: 500px;
}
#bookEditor{
  position: absolute;
  top: 150px;
  background-color: blanchedalmond;
  display:none;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  border:darkmagenta 5px solid;
  border-radius: 10px;
  padding:5px;
  width: 500px;
}
#editorTitle{
  font-size: 30px;
}
#editorCloseBtn{
  position:absolute;
  top:0px;
  right:0px;
}
#editorLabel{
  font-size: large;
}

#submitNewBtn{
  width:200px;
  height: 40px;
}
#table{
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* vertical */
  height: 100%;

}
.headingsRow{
  background-color:darkmagenta;
  border: rgb(228, 124, 228) 5px solid;
  color:white;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; /* vertical */
  margin: 10px 0 -10px 0;
  padding: 5px 40px 5px 40px;
  border-radius: 5px;;
}
.headings{
  width: 180px;
  height: 25px;
  display:flex;
  align-items: center;
  justify-content: center; /* vertical */
}
.book{
  background-color:chartreuse;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; /* vertical */
  border: rgb(11, 90, 1) 5px solid;
  margin: 10px;
  height: 100%;
  padding: 2px;
  border-radius: 5px;;
}
.attribute{
  width: 180px;
  height: 100%;
  display:flex;
  align-items: center;
  justify-content: center; /* vertical */
  overflow: visible;
}
.bookEntryBtns{
  width: 180px;
  color: black;
  display:flex;
  align-items: center;
  justify-content: center; /* vertical */
  background-color:cyan;
  height: 50px;
  border-radius: 25%;
  border-width: 5px;

}
.bottomBtn{
  height: 55px;
  border-radius: 25%;
  border-width: 5px;
}
#credits{
  margin-top: 50px;
  text-align: center;
  font-family: 'Courgette', cursive;
}
#indexOption{
  font-size: 25px;
  color: white;
}