
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* vertical */
}
#pageTitle{
  margin: 10px;
}
#description{
  margin: 10px;
}
#addBtn{
  margin: 10px;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  border:darkmagenta 5px solid;
}
#creatorLabel{
  font-size: large;
}
#creatorCloseBtn{
  position:absolute;
  top:0px;
  right:0px;
}
#bookCreator{
  position: absolute;
  background-color: blanchedalmond;
  top: 100px;
  display:none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border:darkmagenta 5px solid;
  border-radius: 10px;
  padding:5px;
}
#submitBtn{
  width:200px;
  height: 40px;
}
#table{
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* vertical */
  height: 100%;

}
.headingsRow{
  width: 1150px;
  background-color:aqua;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; /* vertical */
  border: blue 1px solid;
  margin: 10px;
  border-radius: 5px;;
}
.headings{
  width: 180px;
  height: 25px;
  display:flex;
  align-items: center;
  justify-content: center; /* vertical */
}
.book{
  background-color:chartreuse;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; /* vertical */
  border: blue 1px solid;
  margin: 10px;
  height: 100%;
}
.attribute{
  width: 180px;
  height: 100%;
  display:flex;
  align-items: center;
  justify-content: center; /* vertical */
  overflow: visible;
}
.bookEntryBtns{
  width: 180px;
  height: 100%;
  display:flex;
  align-items: center;
  justify-content: center; /* vertical */
  background-color:cyan;
}
#reset{
  bottom: 0px;
}
